@media screen and (max-width: 1050px) {
  nav .nav-menu.show {
    left: 0;
  }
}


@media screen and (max-width: 1050px) {
  nav .nav-menu > li .ddropdown-menu.show {
    left: 0;
  }
}

.bx-x::before {
  content: "\eef0";
  font-size: 40px;
}
